<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.violin.features.common.service.ViolinService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true"></service>
 <service
            android:name="com.violin.features.common.service.ViolinNormalService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true"></service>

        <activity
            android:name="com.violin.features.common.leak.LeakTestActivity"
            android:exported="false" />
        <activity
            android:name="com.violin.features.common.crash.CrashActivity"
            android:exported="false" />
        <activity android:name="com.violin.features.common.CommonActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>